<!--Container Main start-->
<div class=" " style="max-height: 720px; height: 720px;">
    <div class="container p-5 mt-5 glass" >
        <h2> Dashboard Principal</h2>
        <div class="row">

            <div class="col-md-8">
                <div class="card medium-card" >
                   
                </div>
            </div>
            <div class="col-md-4">
                <h4>Variação Mensal</h4>
                <div class="card small-card" >
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6">
                        
                        <h4>Variação Mensal</h4>
                        <form class ="form-group row " action="#">
                            <label for="products" class="col-sm-3 col-form-label col-form-label-sm">Produto</label>
                            <div class="col-sm-9">
                                <select class=" form-control form-control-sm" name="products" id="products"
                                    onchange="criarBoxPlot(value)">
                                    <option value="" selected>Selecione...</option>
                                </select>
                            </div>
                        
                        </form>
                        <div class=" card chart-card" id="boxplot">
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>Mínimo e máximo mensais</h4>
                        <div class="card small-card">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <h4>Rank dos supermercados</h4>
                <div class="container py-4 glass">
                    <div class="form-group">
                        <label for="filtroRankMercados" class="col-sm-3 col-form-label col-form-label-sm" style="color: #ebebeb">
                            Filtrar por
                        </label>
                        <div class="col-sm-5 d-inline-block">
                            <select class="form-control form-control-sm" name="filtroMercado" id="filtroRankMercado">
                                <option value="caro">Mais barato</option>
                                <option value="caro">Mais caro</option>
                            </select>
                        </div>
                    </div>

                    <h4 class="my-2" style="color: #ebebeb; font-size: 14px;">*Clique na linha do supermercado para verificar o preço dos produtos em relação aos demais mercados</h4>

                    <div class="mb-2" style="height: 132px; overflow-x: auto;">
                        <table class="table table-sm">
                            <thead class="text-white">
                                <tr>
                                    <th>Posição</th>
                                    <th>Supermercado</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyRank" class="text-white">
                            </tbody>
                        </table>
                    </div>

                    <div id="divBoxSupermercado" class="p-2 position-relative" style="background-color: white; color: #000; border-radius: 10px; display:none">
                    </div>
                </div>
            </div>
        </div>

    </div>
        
</div>
<script type="text/javascript" src = "conversor_nomes_mercados_e_produtos.js"></script>
<script type="text/javascript">
    var dados = <%- JSON.stringify(dados) %>;
    let elementoAtivo = document.getElementById("index").classList.add("active")
    const seletorProduto = document.querySelector("select#products")
    const tbodyRank = document.querySelector("#tbodyRank")
    const divBoxSupermercado = document.getElementById("divBoxSupermercado")

    $(function() { // document.ready()
        carregarSeletorProduto()
        carregarTableRank()
    })

    document.querySelectorAll("tbody > tr").forEach(linha => linha.style.cursor = "pointer")

    function carregarTableRank(){ // Rank baseado nos ultimos dados inseridos
        // Calculo para ordenar os supermercados do mais barato ao mais caro
        let rank = criaListaMediaMercado()
        // Uma vez ordenado, transformar cada supermercado em uma tr html
        tbodyRank.innerHTML = rank.reduce((html, supermercado, index) => html += `<tr onclick="boxSupermercado('${supermercado.supermercado}')" style="cursor: pointer;"><td>${index+1}</td><td>${conversorMercado(supermercado.supermercado).tela}</td></tr>`, "")

    }

    function boxSupermercado(nome_supermercado){
        let lista = criaListaMediaProduto().filter(prod => Array.from(dados[dados.length-1].supermercados[nome_supermercado].map(pd => pd.produto)).includes(prod.produto))
        console.log(lista)

        lista = lista.map(item_produto => {
            let prod = dados[dados.length-1].supermercados[nome_supermercado].filter(prod=>prod.produto == item_produto.produto)[0]
            let maior = (maior, num) => maior = num > maior ? num : maior
            let menor = (menor, num) => menor = num < menor ? num : menor

            // classificar pelos tipos
            if(prod.preco == item_produto.precos.reduce(maior, 0))
                prod.tipo = 1 // Mais caro da lista
            else if(prod.preco > item_produto.media)
                prod.tipo = 2
            else if(prod.preco == item_produto.media)
                prod.tipo = 3
            else if(prod.preco == item_produto.precos.reduce(menor, 0))
                prod.tipo = 5 // O mais barato da lista
            else
                prod.tipo = 4 // Preco abaixo da media

            return prod
        }).sort((itA, itB) => itA.tipo - itB.tipo)
        console.log(lista)

        let listaHtml = lista.reduce((html, produto) => {
            let icone;
            switch(produto.tipo) {
                case 1: icone = "fa-arrow-circle-up"; break;
                case 2: icone = "fa-arrow-up"; break;
                case 3: icone = "fa-equals"; break;
                case 4: icone = "fa-arrow-down"; break;
                case 5: icone = "fa-arrow-circle-down";
            }
            return html += `
                <div class="pill ${produto.tipo <= 2 ? "bg-danger" : produto.tipo >= 4 ? "bg-success":""}">
                    <span><i class="fas ${icone}"></i></span>
                    ${conversorProduto(produto.produto).tela}
                </div>
            `
        }, "")

        $(divBoxSupermercado).html(`
            <h4>${conversorMercado(nome_supermercado).tela}</h4>
            <button type="button" class="btn-close position-absolute" aria-label="Close" style="right:5px; top:15px;" onclick="$(divBoxSupermercado).hide()"></button>
            <hr/>
            <h5>Preços:</h5>
            <div class="container-fluid">
                ${listaHtml}
            </div>
            <div class="bg-dark p-2">
                <h5 class="text-white">Legenda</h5>
                <div class="pill bg-dark d-inline-flex flex-wrap justify-content-between">
                    <span><i class="fas fa-arrow-circle-up"></i>Maior preço</span>
                    <span><i class="fas fa-arrow-up"></i>Acima da média</span>
                    <span><i class="fas fa-equals"></i>Média</span>
                    <span><i class="fas fa-arrow-down"></i>Abaixo da média</span>
                    <span><i class="fas fa-arrow-circle-down"></i>Menor preço</span>
                </div>
            </div>

        `)
        $(divBoxSupermercado).show()
    }

    function criarBoxPlot(produto){

        if(produto == ""){
            Plotly.purge("boxplot")
            return
        };

        // dados separados por mês
        let meses = []
        let mes_atual = dados[0].data.slice(5,7)

        dados.forEach(dia => {
            if(meses.length == 0){ 
                meses.push([dia])
                return
            }

            let mes = dia.data.slice(5,7)
            if(mes == mes_atual) {
                meses[meses.length - 1].push(dia)
            } else {
                meses.push([dia])
                mes_atual = mes
            }

        })
        
        // formatar cada array de mes em um objeto com nome e precos
        meses = meses.map(dias => {
            return {
                nome: new Date(dias[0].data).toLocaleDateString("pt-br",{month: "long"}),
                precos: dias.flatMap(dia => dia.itens[produto].map(produto => produto.preco))
            }
        })

        /* meses - ESTRUTURA
            [
                {nome: "outubro", precos: [25.9, 26.7, 39.4,...]}
                {nome: "novembro", precos: [25.9, 26.7, 39.4,...]}
            ]
        */

        let data = []
        
        meses.forEach(mes => {
            let trace = {
                y: mes.precos,
                name: mes.nome,
                type: "box"
            }
            data.push(trace)
        })

        Plotly.newPlot('boxplot', data);
    }

    function carregarSeletorProduto() {
        let produtos = dados
            .flatMap(dia => Object.keys(dia.itens)) //lista de nomes de produtos
        produtos = [...new Set(produtos)] //sem repeticao
            .sort() //ordem alfabetica

        // Criar as opcoes referentes aos mercados
        seletorProduto.innerHTML = 
            produtos.reduce((html, produto) => html += `<option value=${produto}>
                ${conversorProduto(produto).tela}</option>`,
                "<option value='' selected>Selecione...</option>")
    }

</script>
