<!--Container Main start-->
<div class=" " style="max-height: 720px; height: 720px;">
    <div class="container p-5 mt-5" >
        <h2> Dashboard Principal</h2>
        <div class="row">

            <div class="col-md-8">
                <div class="card medium-card" >
                   
                </div>
            </div>
            <div class="col-md-4">
                <h4>Variação Mensal</h4>
                <div class="card small-card" >
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6">
                        <h4>Variação Mensal</h4>
                        <div class="card small-card" >
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>Mínimo e máximo mensais</h4>
                        <div class="card small-card">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <h4>Variação Mensal</h4>
                <div class="card">
                    <img src="https://s2.glbimg.com/dgW_NN1AnuA1KwbUuBFVpm82Hvo=/0x0:1024x682/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/8/Y/xICwabTPOlLrrDTH9IGg/ap21125534338996.jpg" class="card-img-top" alt="...">
                    
                </div>
            </div>
        </div>

    </div>
        
</div>
