<div class="l-navbar glass" id="nav-bar">
    <nav class="nav">
        <div> 
            <a href="/" class="nav_logo"> 
                <i class="bi bi-lightbulb-fill nav_logo-icon"></i> 
                <span class="nav_logo-name">ellucidata</span> 
            </a>
            <div class="nav_list"> 
                <a id="index" href="/" class="nav_link"> 
                    <i class='bi bi-grid nav_icon'></i> 
                    <span class="nav_name">Dashboard</span> 
                </a> 
                <a id="supermercado" href="/supermarket" class="nav_link"> 
                    <i class='bi bi-cart2 nav_icon'></i> 
                    <span class="nav_name">Supermercados</span> 
                </a>
                 <a id="produto" href="/produto" class="nav_link"> 
                    <i class="far fa-lemon" style="font-size: 17px;"></i>
                    <span class="nav_name">Produtos</span> 
                </a> 
                
                <!-- <a id="previsao" href="#" class="nav_link"> 
                    <i class="bi bi-graph-up nav_icon" style="font-size: 17px;"></i>
                    <span class="nav_name">Previsões</span> 
                </a>  -->
            </div>
        </div> 
       
    </nav>
    <nav class="header"  id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> 
        </div>
        <!-- <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-outline-success my-2 my-sm-0 ml-0" type="submit" >Search</button>
        </form> -->
    </nav>
</div>