<!--Container Main start-->
<div class=" " style="max-height: 720px; height: 720px;">
    <div class="container p-5 mt-5">
        <h2 id="titulo">Produtos</h2>
        <div class="product-header mb-3 mt-3">
            <div class="row">
                <div class="col-3">
                    <form class ="form-group row " action="#">
                        <label for="supermarkets" class="col-sm-3 col-form-label col-form-label-sm">Produto</label>
                        <div class="col-sm-9">
                            <select class=" form-control form-control-sm" name="products" id="products"
                                onchange="criarGraficoProduto(value)">
                                <option value="" selected>Selecione...</option>
                            </select>
                        </div>
                       
                    </form>
                </div>
                <div class="col-4">
                    <form class ="form-group row " action="#">
                        <label for="products" class="col-sm-4 col-form-label col-form-label-sm">Supermercado</label>
                        <div class="col-sm-8">
                            <select class=" form-control form-control-sm" name="supermarkets" id="supermarkets"
                                onchange="criarGraficoMercado(value)">
                                <option value="" selected>Selecione...</option>
                            </select>
                        </div>
                       
                    </form>
                </div>
                
            </div>
            
        </div>
        
        <div class="row">

            <div class="col-md-8">
                <div class="card medium-card border-0 shadow-sm mb-5 bg-white rounded" >
                    <div id="myDiv" style="height: 100%;">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Mínimo e Máximo</h5>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3" ><span id = "minValue"></span> - <span id = "maxValue"></span>  </h1>
                        
                        <div class="mb-0">
                            <span class="text-muted">Ao longo de todo o período</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6">
                        <div class="card border-0 shadow-sm p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Valor Mínimo</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3" id = ""></h1>
                                <div class="mb-0">
                                    <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card border-0 shadow-sm p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Sales</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">2.382</h1>
                                <div class="mb-0">
                                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <h4>Variação Mensal</h4>
                <div class="card">
                    <img src="https://s2.glbimg.com/dgW_NN1AnuA1KwbUuBFVpm82Hvo=/0x0:1024x682/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/8/Y/xICwabTPOlLrrDTH9IGg/ap21125534338996.jpg" class="card-img-top" alt="...">
                    
                </div>
            </div>
        </div>

    </div>
        
</div>

<script type="text/javascript" src = "conversor_nomes_mercados_e_produtos.js"></script>
<script type="text/javascript">

    var dados = <%- JSON.stringify(dados) %>;
    let elementoAtivo = document.getElementById("supermercado").classList.add("active")
    const seletorMercado = document.querySelector("select#supermarkets")
    const seletorProduto = document.querySelector("select#products")
    const h1MaxValue = document.querySelector("#maxValue")
    const h1MinValue = document.querySelector("#minValue")
    const titulo = document.querySelector("#titulo")

    function criarGraficoProduto(produto) {
        carregarSeletorMercado()
        // limpar o grafico caso esteja na opcao "selecione"
        if(produto == ""){
            titulo.textContent = "Produtos"
            dropPlot()
            return
        };

        let lista = dados.filter(dia => dia.itens[produto] != undefined)
            .map(dia => {
            return {
                data: dia.data,
                produto: produto,
                mercados: dia.itens[produto]
                    .map(prod => {return {data: dia.data, ...prod}}) // Inserir data em cada mercado
            }
        })
        
        let dadosFinal = [];

        lista[0].mercados
         .map(obj => obj.supermercado) // capturar o nome de cada mercado
         .sort((a, b) => a.supermercado < b.supermercado ? -1:1) // ordem alfabetica
         .forEach(mercado => {
            let infos = lista
                .flatMap(dia => dia.mercados)
                .filter(mercadoAux => mercadoAux.supermercado == mercado)
            
            let trace = {
                x: infos.map(mercadoAux => mercadoAux.data), // Datas
                y: infos.map(mercadoAux => mercadoAux["preco"]), // Precos
                name: conversorMercado(mercado).tela,
                type: "lines"
            }
    
            dadosFinal.push(trace)        
        })

        Plotly.newPlot('myDiv', dadosFinal, layoutGrafico);
        titulo.textContent = conversorProduto(produto).tela
        seletorMercado.selectedIndex = 0
    }

    function criarGraficoMercado(mercado) {
        let produto = seletorProduto.value

        if(produto == "") return

        // Se o seletor estiver em "selecione", usar o grafico de todos os produtos
        if(mercado == ""){
            criarGraficoProduto(produto)
            return;
        }

        // Pegar os dados
        let dadosMercado= dados.map(dia => {

            if (dia.itens[produto] == undefined)
                return {data: dia.data}
            return {
                data: dia.data, 
                ...dia.itens[produto].filter(mercadoAux => mercadoAux.supermercado == mercado)[0]
            }
        })

        let trace = {
            x: dadosMercado.map(mercadoAux => mercadoAux.data),
            y: dadosMercado.map(mercadoAux => mercadoAux.preco!= undefined ? mercadoAux.preco : null),
            name: conversorMercado(mercado).tela
        }

        Plotly.newPlot('myDiv', [trace], layoutGrafico);

        h1MaxValue.textContent = getMax(mercado, produto)
        h1MinValue.textContent = getMin(mercado, produto)
    }

    function carregarSeletorProduto() {
        let produtos = dados
            .flatMap(dia => Object.keys(dia.itens)) //lista de nomes de produtos
        produtos = [...new Set(produtos)] //sem repeticao
            .sort() //ordem alfabetica

        // Criar as opcoes referentes aos mercados
        seletorProduto.innerHTML = 
            produtos.reduce((html, produto) => html += `<option value=${produto}>
                ${conversorProduto(produto).tela}</option>`,
                "<option value='' selected>Selecione...</option>")
    }

    function carregarSeletorMercado() {
        let produto = seletorProduto.value

        if(produto == "") {
            seletorMercado.innerHTML = "<option value='' selected>Selecione...</option>"
            return
        }

        let mercados = dados
            .flatMap(dia => dia.itens[produto])
            .map(obj => conversorMercado(obj['supermercado']).tela) //lista de nomes de produtos
        mercados = [...new Set(mercados)] //sem repeticao
            .sort() //ordem alfabetica

        // Criar as opcoes referentes aos mercados
        seletorMercado.innerHTML = 
            mercados.reduce((html, mercado) => html += `<option value=${conversorMercado(mercado).banco}>
                ${conversorMercado(mercado).tela}</option>`,
                "<option value='' selected>Selecione...</option>")
    }

    function dropPlot() {
        Plotly.purge("myDiv")
    }

    carregarSeletorProduto()

    var layoutGrafico = {
            title: {
                text: "Variação dos Preços x Tempo",
                font: {
                    family: "Montserrat",
                    size: 22
                },
            },
            xaxis: {
                title: {
                    text: "Tempo",
                    font: {
                        family: "Montserrat",
                        size: 16
                    }
                }
            },
            yaxis: {
                title: {
                    text: "Preço em reais",
                    font: {
                        family: "Montserrat",
                        size: 16
                    }
                }
            },
        }

        

function getMax(supermercado, produto){

    let lista = dados.flatMap(dia => 
        parseFloat(dia.supermercados[supermercado] != undefined ? dia.supermercados[supermercado]
            .filter(prod => prod.produto == produto)
            .map(prod=> prod.preco) :  null)
    )
    // removing NaN from the list
    var i = 0;
    while (i < lista.length) {
        if (Number.isNaN(lista[i])) {
        lista.splice(i, 1);
        } else {
        ++i;
        }
    }

    var max = Math.max(...lista);
    return 'R$ '+max.toFixed(2).toString().replace(".", ",")


}
function getMin(supermercado,produto){
// função puxa o valor mínimo do produto no supermercado no mês
    let lista = dados.flatMap(dia => 
        parseFloat(dia.supermercados[supermercado] != undefined ? dia.supermercados[supermercado]
            .filter(prod => prod.produto == produto)
            .map(prod=> prod.preco) :  null)
    )

    var i = 0;
    while (i < lista.length) {
        if (Number.isNaN(lista[i])) {
        lista.splice(i, 1);
        } else {
        ++i;
        }
    }

    var min = Math.min(...lista);
    return 'R$ '+min.toFixed(2).toString().replace(".", ",")
}

function variacaoMensal(produto, supermercado){
// getMax(produto, supermercado, mes);
}
</script>


