<!--Container Main start-->
<!-- <div class="height-100 bg-light">
    <h4>Main Components</h4>
</div> -->

<div id="product-body">

    <!-- Dashboard -->
    <div class="product-window">

        <!-- Product Header -->
        <div class="product-header">
            <h1>Product Name</h1>
            <form action="#">
                <label for="supermarkets">Supermercado</label>
                <select name="supermarkets" id="supermarkets">
                    <option value="Mercado1">Mercado 1</option>
                    <option value="Mercado2">Mercado 2</option>
                    <option value="Mercado3">Mercado 3</option>
                    <option value="Mercado4">Mercado 4</option>
                    <option value="Mercado5">Mercado 5</option>
                    <option value="Mercado6">Mercado 6</option>
                </select>
            </form>
        </div>
        <!-- End of Product Header -->

        <!-- Product Dashboard -->
        <div class="product-dashboard">

            <!-- SEGMENT 1 -->
            <div class="segment" id="graph-segment">
                <div class="segment-title">
                    <h3>Evolução do Preço</h3>
                </div>

                <div class="segment-content" id="chart-segment-content">
                    <!-- GRAPH -->
                    <!-- <div id="chart" style="height: 200px;">
            
                    </div> -->
                    <img src="public/example-graph-transparent.png" style="width: 100%; height: 250px;">
                </div>
            </div>
            <!-- END OF SEGMENT 1 -->

            <!-- SEGMENT 2 -->
            <div class="segment" id="current-price-segment" style="height: 50%;">
                <div class="segment-title">
                    <h3>Preço Atual</h3>
                </div>    

                <div class="segment-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg>

                    <p style="display: inline-block; font-size: x-large;">R$7,50</p>
                </div>
            </div>
            <!-- END OF SEGMENT 2 -->

            <!-- SEGMENT 3 -->
            <div class="segment" id="monthly-variation-segment">
                <div class="segment-title">
                    <h3>Variação Mensal</h3>
                </div>

                <div class="segment-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="darkred" class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>

                    <p style="display: inline-block; font-size: x-large;">32%</p>
                </div>
            </div>
            <!-- END OF SEGMENT 3 -->

            <!-- SEGMENT 4 -->
            <div class="segment" id="min-max-segment">
                <div class="segment-title">
                    <h3>Mínimo e Máximo Mensais</h3>
                </div>

                <div class="segment-content">
                    <p style="display: inline-block; font-size: x-large;">R$5,20 - R$8,10</p>
                </div>
            </div>
            <!-- END OF SEGMENT 4 -->


        </div>
        <!-- End of Product Dashboard -->

    </div>
    <!-- End of Dashboard -->

</div>

<script type="text/javascript">
    
</script>