<!--Container Main start-->
<div class=" " style="max-height: 720px; height: 720px;">
    <div class="container p-5 mt-5">
        <h2 id="titulo">Produtos</h2>
        <div class="product-header mb-3 mt-3">
            <div class="row">

                <div class="col-8">
                    <div class="row mb-4">
                        <div class="col-6">
                            <form class ="form-group row " action="#">
                                <label for="supermarkets" class="col-sm-3 col-form-label col-form-label-sm">Produto</label>
                                <div class="col-sm-9">
                                    <select class=" form-control form-control-sm" name="products" id="products"
                                        onchange="criarGraficoProduto(value)">
                                        <option value="" selected>Selecione...</option>
                                    </select>
                                </div>
                            
                            </form>
                        </div>
                        <div class="col-6">
                            <form class ="form-group row " action="#">
                                <label for="products" class="col-sm-4 col-form-label col-form-label-sm">Supermercado</label>
                                <div class="col-sm-8">
                                    <select class=" form-control form-control-sm" name="supermarkets" id="supermarkets"
                                        onchange="criarGraficoMercado(value)">
                                        <option value="" selected>Selecione...</option>
                                    </select>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="card medium-card border-0 shadow-sm mb-5 bg-white rounded" >
                            <div id="myDiv" style="height: 100%;">
        
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card border-0 shadow-sm mb-5 bg-white rounded " >
                        <img src="/imagens/prod/emBranco.jpg" id="imgProduto" class="card-img-top" style="max-height: 355px; max-width: 355px;" alt="...">
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-8">
                    <h5 class="card-title">Variação Semanal de Preços</h5>
                    <div style="height: 270px; overflow: auto;">
                        <table class="table table-sm">
                            <thead id="theadMercados">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"> 1</th>
                                <th scope="col"> 2</th>
                                <th scope="col"> 3</th>
                                <th scope="col"> 4</th>
                                <th scope="col"> 5</th>
                                <th scope="col"> 6</th>
    
                            </tr>
                            </thead>
                            <tbody id="tbodyMercados">
                            <!-- <tr>
                                <th scope="row">Hirota</th>
                                <td>11</td>
                                <td>10</td>
                                <td>9</td>
                                <td>9</td>
                                <td>9</td>
                                <td>9</td>
                            </tr>
                            -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card border-0 shadow-sm p-3 mb-5 bg-white rounded ml-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">Mínimo e Máximo</h5>
                                </div>
                            </div>
                            <div class="maxMinDiv">
                                <h4 class="mt-2 mb-3" ><span id = "minValue"></span> - <span id = "maxValue"></span>  </h4>
                            </div>
                            
                            <div class="mb-0">
                                <span class="text-muted">Ao longo de todo o período</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
        
</div>

<script type="text/javascript" src = "conversor_nomes_mercados_e_produtos.js"></script>
<script type="text/javascript">

    var dados = <%- JSON.stringify(dados) %>;
    let elementoAtivo = document.getElementById("produto").classList.add("active")
    const seletorMercado = document.querySelector("select#supermarkets")
    const seletorProduto = document.querySelector("select#products")
    const h1MaxValue = document.querySelector("#maxValue")
    const h1MinValue = document.querySelector("#minValue")
    const titulo = document.querySelector("#titulo")
    const divTableHead = document.querySelector("#theadMercados")
    const divTableBody = document.querySelector("#tbodyMercados")







    function criarGraficoProduto(produto) {
        carregarSeletorMercado()
        carregarImagemProduto(produto)
        criarTabela()

        // limpar o grafico caso esteja na opcao "selecione"
        if(produto == ""){
            titulo.textContent = "Produtos"
            dropPlot()
            return
        };

        let lista = dados.filter(dia => dia.itens[produto] != undefined)
            .map(dia => {
            return {
                data: dia.data,
                produto: produto,
                mercados: dia.itens[produto]
                    .map(prod => {return {data: dia.data, ...prod}}) // Inserir data em cada mercado
            }
        })
        
        let dadosFinal = [];

        let nome_mercados = new Set(dados.flatMap(dia => Object.keys(dia.supermercados)))
        Array.from(nome_mercados)
         .sort() // ordem alfabetica
         .forEach(mercado => {
            let infos = lista
                .flatMap(dia => dia.mercados)
                .filter(mercadoAux => mercadoAux.supermercado == mercado)
            
            let trace = {
                x: infos.map(mercadoAux => mercadoAux.data), // Datas
                y: infos.map(mercadoAux => mercadoAux["preco"]), // Precos
                name: conversorMercado(mercado).tela,
                type: "lines"
            }
    
            dadosFinal.push(trace)        
        })

        Plotly.newPlot('myDiv', dadosFinal, layoutGrafico);
        titulo.textContent = conversorProduto(produto).tela
        seletorMercado.selectedIndex = 0
        
    }

    function criarGraficoMercado(mercado) {
        let produto = seletorProduto.value
        let nome_mercado = conversorMercado(mercado)

        if(produto == "") return

        // Se o seletor estiver em "selecione", usar o grafico de todos os produtos
        if(mercado == ""){
            criarGraficoProduto(produto)
            return;
        }

        // Pegar os dados
        let dadosMercado= dados.map(dia => {

            if (dia.itens[produto] == undefined)
                return {data: dia.data}
            return {
                data: dia.data, 
                ...dia.itens[produto].filter(mercadoAux => mercadoAux.supermercado == mercado || mercadoAux.supermercado == nome_mercado.tela)[0]
            }
        })

        let trace = {
            x: dadosMercado.map(mercadoAux => mercadoAux.data),
            y: dadosMercado.map(mercadoAux => mercadoAux.preco!= undefined ? mercadoAux.preco : null),
            name: conversorMercado(mercado).tela,
            connectgaps: true
        }

        Plotly.newPlot('myDiv', [trace], layoutGrafico);

        h1MaxValue.textContent = getMax(mercado, produto)
        h1MinValue.textContent = getMin(mercado, produto)
    }

    function carregarSeletorProduto() {
        let produtos = dados
            .flatMap(dia => Object.keys(dia.itens)) //lista de nomes de produtos
        produtos = [...new Set(produtos)] //sem repeticao
            .sort() //ordem alfabetica

        // Criar as opcoes referentes aos mercados
        seletorProduto.innerHTML = 
            produtos.reduce((html, produto) => html += `<option value=${produto}>
                ${conversorProduto(produto).tela}</option>`,
                "<option value='' selected>Selecione...</option>")
    }


    function criarTabela(){
        let produto = seletorProduto.value
        if(produto == ""){ 
            divTableBody.innerHTML = ""
            return
        }
    
        let dadosTabela = variacaoSemanalTodosProduto(produto)
        let nomes_mercado = new Set(dadosTabela.flatMap(semana => Object.keys(semana).filter(key => key != "semana")))

        divTableHead.innerHTML = dadosTabela.reduce((html, semana) => html += `<th scope="col">${semana.semana+1}</th>`, "<tr><th scope='col'>#</th>").concat("</tr>")
        let htmlBody = ""
        for(mercado of nomes_mercado){
            htmlBody += `<tr><th scope="row">${conversorMercado(mercado).tela}</th>`
            htmlBody += dadosTabela.reduce((linha, semana) => linha += `<td>${
                semana[mercado] == undefined ? "-":`${semana[mercado]}%`
            }</td>`, "").concat("</tr>")
        }

        divTableBody.innerHTML = htmlBody  
    }




    function carregarSeletorMercado() {
        let produto = seletorProduto.value

        if(produto == "") {
            seletorMercado.innerHTML = "<option value='' selected>Selecione...</option>"
            return
        }

        let mercados = dados
            .flatMap(dia => dia.itens[produto])
            .map(obj => conversorMercado(obj['supermercado']).tela) //lista de nomes de produtos
        mercados = [...new Set(mercados)] //sem repeticao
            .sort() //ordem alfabetica

        // Criar as opcoes referentes aos mercados
        seletorMercado.innerHTML = 
            mercados.reduce((html, mercado) => html += `<option value=${conversorMercado(mercado).banco}>
                ${conversorMercado(mercado).tela}</option>`,
                "<option value='' selected>Selecione...</option>")
    }

    function dropPlot() {
        Plotly.purge("myDiv")
    }

    carregarSeletorProduto()

    var layoutGrafico = {
            title: {
                text: "Variação dos Preços x Tempo",
                font: {
                    family: "Montserrat",
                    size: 22
                },
            },
            xaxis: {
                title: {
                    text: "Tempo",
                    font: {
                        family: "Montserrat",
                        size: 16
                    }
                }
            },
            yaxis: {
                title: {
                    text: "Preço em reais",
                    font: {
                        family: "Montserrat",
                        size: 16
                    }
                }
            },
            showlegend:true
        }

    function carregarImagemProduto(produto){
        if(produto == "") {
            $("#imgProduto").attr("src", "/imagens/prod/emBranco.jpg")
            return
        }
        $("#imgProduto").attr("src", "/imagens/prod/"+produto+".jpg")
    }
</script>
<script type="text/javascript" src = "script.js"></script>


