<!--Container Main start-->
<div class=" " style="max-height: 720px; height: 720px;">
    <div class="container p-5 mt-5">
        <h2> Nome do Supermercado</h2>
        <div class="product-header mb-3 mt-3">
            <div class="row">
                <div class="col-4">
                    <form class ="form-group row " action="#">
                        <label for="supermarkets" class="col-sm-4 col-form-label col-form-label-sm">Supermercado</label>
                        <div class="col-sm-8">
                            <select class=" form-control form-control-sm" name="supermarkets" id="supermarkets">
                                <option selected>Selecione...</option>
                                <option value="akki">Akki</option>
                                <option value="atacadista">Atacadista</option>
                                <option value="big">Big</option>
                                <option value="carrefour">Carrefour</option>
                                <option value="emporio_hortisabor">Empório Hortisabor</option>
                                <option value="emporium_sao_paulo">Emporium São Paulo</option>
                                <option value="extra_hiper">Extra Hiper</option>
                                <option value="hirota">Hirota Supermercados</option>
                                <option value="master_supermercados">Master Supermercados</option>
                                <option value="mercado_extra">Mercado Extra</option>
                                <option value="pao_de_acucar">Pão de açúcar</option>
                                <option value="quitanda">Quitanda</option>
                                <option value="santa_gemma">Santa Gemma</option>
                            </select>
                        </div>
                       
                    </form>
                </div>
                <div class="col-3">
                    <form class ="form-group row " action="#">
                        <label for="products" class="col-sm-3 col-form-label col-form-label-sm">Produto</label>
                        <div class="col-sm-9">
                            <select class=" form-control form-control-sm" name="products" id="products">
                                <option selected>Selecione...</option>
                                <option value="arroz">Arroz Branco</option>
                                <option value="extrato">Extrato de Tomate</option>
                                <option value="acucar">Açúcar Refinado</option>
                                <option value="oleo">Óleo de Soja</option>
                                <option value="manteiga">Manteiga</option>
                                <option value="pao">Pão de Forma</option>
                                <option value="cafe">Café</option>
                                <option value="fuba">Fubá Mimoso</option>
                                <option value="leite_condensado">Leite Condensado</option>
                                <option value="macarrao">Macarrão Espaguete</option>
                                <option value="creme_dental">Creme Dental</option>
                                <option value="sabonete">Sabonete em Barra</option>
                                <option value="sal">Sal Refinado</option>
                                <option value="papel_higienico">Papel Higiênico</option>
                            </select>
                        </div>
                       
                    </form>
                </div>
                
            </div>
            
        </div>
        
        <div class="row">

            <div class="col-md-8">
                <div class="card medium-card border-0 shadow-sm mb-5 bg-white rounded" >
                    <div id="myDiv" style="height: 100%;">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Sales</h5>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">2.382</h1>
                        <div class="mb-0">
                            <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                            <span class="text-muted">Since last week</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6">
                        <div class="card border-0 shadow-sm p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Sales</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">2.382</h1>
                                <div class="mb-0">
                                    <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card border-0 shadow-sm p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Sales</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">2.382</h1>
                                <div class="mb-0">
                                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                    <span class="text-muted">Since last week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <h4>Variação Mensal</h4>
                <div class="card">
                    <img src="https://s2.glbimg.com/dgW_NN1AnuA1KwbUuBFVpm82Hvo=/0x0:1024x682/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/8/Y/xICwabTPOlLrrDTH9IGg/ap21125534338996.jpg" class="card-img-top" alt="...">
                    
                </div>
            </div>
        </div>

    </div>
        
</div>

<script type="text/javascript">
    var dados = <%- JSON.stringify(dados) %>;
    elementoAtivo = document.getElementById("supermercado").classList.add("active")
      
    function criarGraficoMercado(mercado) {
        let lista = dados.map(dia => {
            return {
                data: dia.data,
                mercado: mercado,
                produtos: dia.supermercados[mercado]
            }
        })
        
        let dadosFinal = [];

        let dadosDias = lista.map(dia => dia.data)

        Object.keys(lista[0].produtos).forEach( produto => {
            let trace = {
                x: dadosDias,
                y: lista.map(dia => dia.produtos[produto]["preco"]),
                name: lista[0].produtos[produto]["produto"],
                type: "lines"
            }

            dadosFinal.push(trace)
        })
        
        Plotly.newPlot('myDiv', dadosFinal);

    }

      criarGraficoMercado("big")
</script>