* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #07aeb3;
    --first-color-light: #d3d3d3;
    --white-color: #ebebeb;
    --detail-color: #07aeb3;
    --body-font:  sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body { 
    /* background-color: #f5f7fb; */
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: var(--normal-font-size);
    transition: .5s;
    background-image: url(/imagens/background/bg5.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    /* background-color: #f5f7fb; */
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
    
}

.nav_logo,
.nav_link {
    text-decoration: none;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--detail-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 500
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--detail-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color:#f5f7fb;
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color:  #f5f7fb;
}

.height-100 {
    height: 100vh
}


.container{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05);
}

.glass{
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.05);
}

.card{
    /* border-radius: 1rem; */
    backdrop-filter: blur(2rem);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
}

.cb1{
    background-color: rgba(255,255,255,0);
    backdrop-filter: blur(2rem);
}

.small-card{
    height: 150px;
}
.medium-card{
    height: 300px;
}
.card-title{
    font-weight: 600;
    color: #ffffff;

}
.chart-card{
    height: 500px;
}

.pill {
    display: inline-block;
    background-color: #4d4d4d;
    color: #fff;
    padding: 2px 5px;
    border-radius: 30px;
    vertical-align: center;
    margin-bottom: 3px;
}

.pill i {
    display: inline;
    font-size: 22px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

/* ------------------------------------------------------------------------------------------- */
/*                                       PRODUCT PAGE                                          */
/* ------------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

#product-body{
    background: linear-gradient(-30deg, #e9c3ff, #d7b3ff, #ffb6ff, #b4e4fc);
    /* background-image: url(fundo-de-meio-tom-azul-e-rosa_53876-99004.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 110%;
    margin: 0px;
}


/* ------------------------------------- Product Header --------------------------------------- */
.product-dashboard .product-header{
    margin-bottom: 60px;
}

.product-dashboard .product-header h1{
    font-size: 35px;
    line-height: 0px;
}

.product-dashboard .product-header form{
    margin-top: 40px;
}

.product-dashboard .product-header form label{
    margin-right: 15px;
    color: #4d4d4d;
    font-size: 14px;
}

.product-dashboard .product-header form select{
    border: none;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
}

/* ------------------------------------- Product Dashboard ------------------------------------------- */
.product-dashboard{
    padding: 0px 15px;
    margin: 20px auto;
    border-radius: 30px;
    background: rgb(255,255,255, 0.2);
    backdrop-filter: blur(10px);
}

.product-dashboard .segment{
    padding: 10px 10px 10px 30px;
    position: relative;
}

.product-dashboard .segment-content h3{
    font-size: 16px;
    font-weight: 100;
    line-height: 0;
}

.product-dashboard .segment-content p{
    color: #4d4d4d;
    font-size: 14px;
}

.product-dashboard .segment-content{
    padding: 20px 20px 20px 60px;
    background-color: #fff;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    border-radius: 20px;
}

.product-dashboard #chart-segment-content{
    padding: 20px 20px 20px 20px;
}

/* ----------------------------------- Media Quary 768ox-------------------------------------- */
@media only screen and (min-width: 768px){
    .product-dashboard{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }

    .product-dashboard #graph-segment{
        width: 67%;
    }

    .product-dashboard #current-price-segment{
        width: 27%;
    }

    .product-dashboard #monthly-variation-segment{
        width: 27%;
    }

    .product-dashboard #min-max-segment{
        width: 37%;
    }
}